/* ------------------ Cuomo Lighting Display ------------------ */


.ui-color-chip {
	height: 22px;
	width: 22px;
	top: 0;
	bottom: 0;
	left: 1em;
	margin: 3px 5px 0 0;
	display: inline-block;
	float: right;
	&.selected {
		position: absolute;
		margin-left: 140px;
		margin-top: 9px;
	}
}
.ui-menu-item, .ui-selectmenu-button {
	font-family: 'UniformBlack-Regular';
	color: $blue;
	font-size: rem(16px);
	line-height: rem(28px);
	font-weight: 500;
	.ui-menu-item-wrapper {
		padding-left: 20px
	}
}
.ui-selectmenu-button {
	border: 2px solid $blue;
	border-radius: 0;
	&:hover {
		border: 2px solid $blue;
	}
	&:focus {
		outline: 0;
		border: 2px solid $blue;
	}
}
.ui-selectmenu-open {
	z-index: 10;
	border: 2px solid $blue;
	margin-top: 10px;

}
.ui-button {
	.ui-icon {
		background-image: url(../images/arrow-double-blue_down.svg) !important;
		background-repeat: no-repeat;
		width: 10px;
		height: 10px;
		margin-top: 8px;
		transition: ease all .5s;
		position: relative;
		background-position: 0 0;
	}
	&.ui-selectmenu-button-open {
		.ui-icon {
			transform: rotate(180deg);
		}
	}
	&:hover {
		.ui-icon {
			background-image: url(../images/arrow-double-blue_down.svg) !important;
			transform: rotate(180deg);
		}
	}
}

.block-lighting-display {
	#edit-requested-date {
		width: 150px;
	}
	div.form-group {
		border-top: 1px solid $blue;
		padding: 5px 0 30px;
		fieldset {
			padding: 0;
		}
		h4 {
			font-family: 'UniformBlack-Regular';
			color: $blue;
			font-size: rem(12px);
			line-height: rem(17px);
			text-transform: uppercase;
		}
		&#edit-step-1 {
			label {
				float: left;
				margin-right: 20px;
				margin-top: 10px;
				font-size: rem(18px);
			}
		}
		&#edit-step-2 {
			label {
				font-size: rem(18px);
				@include media-breakpoint-down(s) {
					font-size: rem(14px);
				}
				@include media-breakpoint-down(xs) {
					font-size: rem(12px);
				}
			}
		}
		input, textarea {
			border: none;
			border-radius: 0;
			background: #f4f4f4;
		}
		&#edit-step-3 {
			input, textarea {
				@include media-breakpoint-up(md) {
					width: 50%;
				}

			}
			.form-item-permission {
				margin: 20px 0;
				padding-left: 0;
				@include media-breakpoint-up(md) {
					width: 50%;
				}
				input {
					opacity: 0;
					cursor: pointer;
				}
				input[type="checkbox"] + label::after {
					content: none;
				}
				input[type="checkbox"]:checked + label::after {
					content: "";
				}
				input[type="checkbox"]:focus + label::before {
					outline: rgb(59, 153, 252) auto 5px;
				}
				label {
					position: relative;
					display: inline-block;
					font-size: rem(18px);
					width: 100% !important;
					padding-left: 30px;
					margin-left: 3px;
					&::before {
						position: absolute;
						content: "";
						display: inline-block;
						left: 0;
						top: 6px;
						height: 16px;
						width: 16px;
						border: 2px solid $blue;
					}
					&::after {
						position: absolute;
						content: "";
						display: inline-block;
						height: 5px;
						width: 9px;
						border-left: 2px solid;
						border-bottom: 2px solid;
						left: 5px;
						top: 10px;

						transform: rotate(-45deg);
					}

				}
			}
			.form-submit {
				@include media-breakpoint-down(lg) {
					margin-bottom: 80px;
				}
			}
		}
	}
	.share-social {
		margin-top: 30px;
	}
}
.a2a_kit {
	margin-top: 20px;
}
#edit-step-2 {
	.form-item-towers-color {
		width: 22%;
		margin-right: 20px;
		float: left;
		@include media-breakpoint-down(md) {
			width: 30%;
			margin-right: 12px;
			padding-right: 0;
		}
		@include media-breakpoint-down(sm) {
			float: none;
			width: 70%;
		}
	}
	.form-item-pier1-color {
		width: 22%;
		margin-right: 20px;
		float: left;
		@include media-breakpoint-down(md) {
			width: 30%;
			margin-right: 12px;
			padding-right: 0;
		}
		@include media-breakpoint-down(sm) {
			float: none;
			width: 70%;
		}
	}
	.form-item-pier2-color {
		width: 22%;
		float: left;
		@include media-breakpoint-down(md) {
			width: 30%;
			padding-right: 0;
		}
		@include media-breakpoint-down(sm) {
			float: none;
			width: 70%;
		}
	}
	.lighting-note {
		width: 65%;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	.share-button-wrapper {
		margin-top: 30px;
	}
}
#lighting-simulation {
	margin-bottom: 30px;
	position: relative;
	width: 100%;
	clear: both;
	.lighting-base {
		position: relative;
		width: 100%;
		height: auto;
	}
	.lighting-overlay {
		position: absolute;
		left: 0;
		top: 0;
		mix-blend-mode: multiply;
		width: 100%;
		height: auto;
		display: none;
		transition: ease all 0.3s;
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		.lighting-overlay {
			opacity: 0.5;
		}
	}
	@supports (-ms-ime-align:auto) {
		.lighting-overlay {
			opacity: 0.5;
		}
	}
}
.lighting-display, .block-lighting-display {
	.content {
		font-size: 1rem;
	}
	.thanks-msg {
		display: none; /* js to show if query param present */
		visibility: hidden;
		width: 100%;
		padding-bottom: 30px;
		.button-link {
			margin: 30px 0;
		}
	}
	strong {
		font-family: 'UniformBlack-Regular';
		color: $blue;
		font-weight: 500;
		font-size: 1.1rem;
	}
	.date {
		margin-right: 20px;
		width: 140px;
	}
	label {
		font-family: UniformRegular-Regular;
	}
	.colors {
		margin-top: 30px;
		.selection {
			width: 100%;
			float: left;
			padding-top: 15px;
			.color-label {
				width: 160px;
				float: left;
			}
			.color {
				float: left;
				.color-value {
					width: 25px;
					height: 25px;
					margin-right: 20px;
					border: solid 1px #000;
					float: left;
				}
				.color-name {
					font-weight: 700;
					color: $blue;
					float: left;
					text-transform: capitalize;
				}
			}
		}
	}
	.info {
		margin-top: 30px;
		.info-line {
			width: 100%;
			float: left;
			padding-top: 15px;
			.info-label {
				width: 160px;
				float: left;
			}
			.info-value {
				float: left;
			}
		}
	}
}
#lighting-simulation, .block-lighting-display, .lighting-display {
	.button-link, .content {
		margin-top: 10px;
		margin-bottom: 20px;
		a:not([class*="a2a_button"]):not(.share-url), #edit-submit {
			font-family: 'UniformBlack-Regular';
			color: $blue;
			font-size: rem(14px);
			line-height: rem(19px);
			text-transform: uppercase;
			padding: rem(16px 45px 16px 16px);
			border: solid 3px $blue;
			transition: ease all .3s;
			background: #fff;
			border-radius: 0;
			&:hover {
				color: $gold !important;
				border: solid 3px $gold !important;
				text-decoration: none;
				&:after {
					position: absolute;
					content: "";
					background: url(../images/arrow-double-gold.svg) no-repeat;
					width: 10px;
					height: 10px;
					padding: rem(8px);
					margin-top: rem(10px);
					margin-left: rem(16px);
					float: right;
					transform: rotate(180deg);
				}
			}
			&.button-arrow-blue:not(button) {
				&::after {
					margin-top: rem(4px);
				}
				&:hover {
					&::after {
						margin-top: rem(4px);
					}
				}
			}
			&.button-arrow-blue {
				&:hover {
					&::after {
						margin-top: 0;
					}
				}
			}
		}
	}
}
.view-lighting-display-calendar {
	margin: 6rem 0;
	table {
		th {
			font-family: 'UniformBlack-Regular';
			font-size: 0.75rem;
			font-weight: 400;
			text-align: left;
			line-height: 100%;
			text-transform: uppercase;
			border-bottom: none !important;
			border-top: 1px solid $blue !important;
			color: $blue;
		}
		td {
			font-family: 'AlternateGotNo2D';
			font-size: 1.2rem;
			border-top: none;
			border-bottom: 1px solid $blue;
		}
	}

}