/* ------------------ Cuomo Footer ------------------ */

.footer {
	background-color: $blue;
    .cuomo-footer-logo {
        @include media-breakpoint-down(sm) { 
            margin-bottom: 4rem;
        }
        .block-cuomo-logo-block {
            width: 100%;
            text-align: left;
            @include media-breakpoint-down(sm) { 
                text-align: center;
            }
            img {
                width: 100%;
                max-width: 350px;
                min-width: 250px;
                @include media-breakpoint-down(lg) { 
                    min-width: 165px;
                }
                @include media-breakpoint-down(sm) { 
                    max-width: 275px;
                }
            }
        }
    }
    .cuomo-footer-menu {
        @include media-breakpoint-down(lg) { 
            padding: 0;
        } 
        nav {
            margin: 0 auto;
           @include media-breakpoint-down(sm) { 
                width: 100%;
                max-width: 414px;
                text-align: center;
                margin: 0 auto 4rem;
            } 
        }
        ul {
            display: block;
            .nav-item a {
                font-family: 'UniformBlack-Regular';
                font-weight: 300;
                font-size: rem(11px);
                color: $white;
                line-height: 100%;
                text-transform: uppercase;
                text-align: center;
                border: solid 3px $white;
                margin: 0 0 .5rem 0;
                padding: 0.7rem 2rem 0.7rem 0.7rem;
                transition: ease all .3s;
                @include media-breakpoint-down(lg) { 
                    font-size: .75rem;
                } 
                &:after {
                    position: absolute;
                    content : "";
                    background : url(../images/arrow-double-white.svg) no-repeat;
                    width: 10px;
                    height: 10px;
                    margin: 0 0.5rem;
                    float: right;
                    transform: rotate(180deg);
                }
                &:hover {
                    color: $gold;
                    border: solid 3px $gold;
                    &:after {
                        position: absolute;
                        content : "";
                        background : url(../images/arrow-double-gold.svg) no-repeat;
                        width: 10px;
                        height: 10px;
                        margin: 0 0.5rem;
                        float: right;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .cuomo-ny-footer-menu {
        @include media-breakpoint-down(lg) { 
            padding: 0;
        } 
        nav {
           @include media-breakpoint-down(sm) { 
                width: 100%;
                max-width: 414px;
                margin: 0 auto 4rem;
            } 
        }
        ul {
            display: block;
            margin-top: -8px;
            li {
                font-size: rem(14px);
                font-family: UniformBlack-Regular;
                letter-spacing: 0.05rem;
                word-wrap: break-word;
                @include media-breakpoint-down(lg) { 
                    width: rem(225px);
                }
                @include media-breakpoint-down(md) { 
                    width: rem(175px);
                }
                @include media-breakpoint-down(sm) { 
                    width: 100%;
                }
                .nav-link {
                    color: $white;
                    display: block;
                    padding: 0rem 1rem;
                    line-height: rem(22px);
                    &:hover {
                        color: $gold;
                    }
                    @include media-breakpoint-down(sm) { 
                        padding: 0;
                    }
                }
                &:first-child {
                    pointer-events: none;
                    a {
                        color: #f2a901 !important;
                    }
                }
            }
        }
    }
    .cuomo-footer-social {
        width: 100%;
        max-width: 350px;
        @include media-breakpoint-down(sm) { 
            width: 100%;
            max-width: 414px;
            margin: 0 auto;
            padding: 0;
        }
        &--links {
            list-style: none;
            padding-left: 0;
            li {
                display: inline;
                a {
                    color: $gold;
                    font-size: 1rem;
                    border: solid 1px $gold;
                    border-radius: 100%;
                    transition: ease all .3s;
                    @include media-breakpoint-down(lg) { 
                        font-size: .5rem;
                    }
                    @include media-breakpoint-down(sm) { 
                        font-size: 1rem;
                    }
                    &:hover {
                        color: $light-gray;
                        border: solid 1px $light-gray;
                    }
                }
                .instagram {
                    padding: 10px 12px;
                }
                .twitter {
                    padding: 10px 10px;
                }
                .facebook {
                    padding: 10px 14px;
                }
                .youtube {
                    padding: 10px 10px;
                }
            }
        }
        p {
            font-family: 'UniformBlack-Regular';
            font-size: rem(10px);
            font-weight: 300;
            text-align: left;
            line-height: rem(16px);
            color: $white;
            @include media-breakpoint-down(lg) { 
                font-size: rem(8px);
            }
            @include media-breakpoint-down(sm) { 
                font-size: .6rem;
            }
        }
        .block-cuomo-footer-logo-block {
            img {
                width: 100%;
                max-width: 225px;
            } 
        }
    }
    .top-footer {
        padding: 2.5rem 0 0 0;
    }
    .sub-footer {
        background-color: $gray-800;
        padding: 1rem 0;
        margin: 2.5rem 0 0 0;
        .region-footer-fifth {
            @include media-breakpoint-down(sm) {
                padding: 0;
            }
        }
        .block-ny-footer-logo-block {
            float: left;
            margin: 0 4rem 0 0;
            @include media-breakpoint-down(lg) { 
                margin: 0 3rem 1rem 0;
            }
            @include media-breakpoint-down(sm) { 
                margin: 0 0 1rem 0;
            }
        }
        .menu--ny-state-footer-nav {
            .nav {
                float: left;
                width: 100%;
                max-width: 1075px;
                @include media-breakpoint-down(lg) { 
                    max-width: 850px;
                }
                @include media-breakpoint-down(md) { 
                    max-width: 600px;
                }
                @include media-breakpoint-down(sm) { 
                    max-width: 400px;
                }
            }
            li {
                a { 
                    width: 100%;
                    min-width: 150px;
                    color: $white;
                    text-transform: capitalize; 
                    padding: 0.5rem 0;
                    transition: ease all .3s;
                    @include media-breakpoint-down(lg) { 
                        padding: 0.5rem;
                        font-size: rem(14px);
                    }
                    @include media-breakpoint-down(sm) { 
                        padding: 0.5rem 0;
                        font-size: rem(16px);
                    }
                    &:hover {
                        color: $gold;
                    }
                }
            }
        }
    }
} 