/* ------------------ Cuomo Bleed Card ------------------ */ 

.paragraph--type--bleed-card {
	.bleed-card-inset-image {
		max-height: 625px;
    	overflow: hidden;
		@include media-breakpoint-down(md) { 
			max-height: 475px;
    		overflow: hidden;
		}
		@include media-breakpoint-down(sm) { 
			max-height: 100%;
   			overflow: visible;
		}
		&--padding {
			padding: 2.5rem 6rem;
			@include media-breakpoint-down(lg) { 
		        padding: 0 1.5rem;
		    }
			@include media-breakpoint-down(sm) { 
		        padding: 2.5rem 1.5rem;
		    }
		}
		&--copy {
			padding: 3rem 1rem;
			@include media-breakpoint-down(sm) { 
		        padding: 0;
		    }
			.title {
				font-family: 'UniformBlack-Regular';
				font-weight: 300;
    			padding: 0 6rem 0 0;
    			margin-bottom: 1.5rem;
    			@include media-breakpoint-down(sm) { 
			        padding: 0;
			    }
			}
			p, ul {
    			padding: 0px 3rem 0 0;
				margin-bottom: 3rem;
				@include media-breakpoint-down(lg) { 
    				padding: 0 2rem 0 0;
					margin-bottom: 3rem;
			    }
				@include media-breakpoint-down(md) { 
    				padding: 0 2rem 0 0;
					margin-bottom: 2.5rem;
			    }
				@include media-breakpoint-down(sm) { 
			        padding: 0;
			    }
			} 
			li {
				margin-left: 1.75rem;
			}
			a {
				font-family: 'UniformBlack-Regular';
				color: $white;
				font-size: rem(14px);
				line-height: rem(19px);
				padding: rem(16px 45px 16px 16px);
				text-transform: uppercase;
				border: solid 3px $white;
				transition: ease all .3s;
				&:hover {
					color: $gold !important;
					border: solid 3px $gold !important;
					text-decoration: none;
				}
			}
			i {
				padding-left: 1.5rem;
			}
		}
		&--img {
			max-height: 625px;
			overflow: hidden;
			@include media-breakpoint-down(md) {
				max-height: 475px;
				overflow: hidden;
			}
			@include media-breakpoint-down(sm) {
				max-height: 100%;
				overflow: visible;
			}
			.field--type-image {
			    width: 100%;
			    height: 100%;
			    display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
			    img {
					flex-shrink: 0;
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;
				}
			}
		}
	}
}
