{#
/**
 * @file
 * Default theme implementation of a webform actions.
 *
 * @see template_preprocess_webform_actions()
 * @see \Drupal\webform\WebformSubmissionForm::actionsElement
 * @see \Drupal\webform\WebformSubmissionForm::actions
 *
 * @ingroup themeable
 */
#}

<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-group col-auto" id="edit-actions">
    <button class="webform-button--submit button button--primary js-form-submit form-submit btn btn-primary button-arrow-blue" data-drupal-selector="edit-submit" data-disable-refocus="true" type="submit" id="edit-submit" name="op" value="Submit">Submit</button>
</div>