{#
/**
 * @file lighting_slot.html.twig
 * Default theme implementation to present Lighting slot data.
 *
 * This template is used when viewing Lighting slot pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_lighting_slot()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('lighting_slot') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
